<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/zakhele.jpeg">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hello my name is {{first_name}} {{last_name}},and I am using express </p>
        <img class="potrait" src="/img/zakhele.jpeg" />
        <p>My joke of the day</p>
        <p>{{funniest_joke}}</p> 

    </div>
    {{>footer}}
</body>

</html>